:root {
  // Font
  --wd-font-public-sans-fallback:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  --wd-font-public-sans: "Public Sans";
  --wd-font-inter: "Inter";
  --wd-font-montserrat: "Montserrat";
  --wd-font-dm-serif-display: "DM Serif Display";
}
