.p-icon-field:has(.p-password-input) {
  width: 100%;

  .p-password-input {
    width: inherit;
  }

  .p-input-icon {
    --wd-local-space: 0.5rem;
    display: flex;
    padding: var(--wd-local-space);
    padding-right: 0;
    margin-top: calc(var(--wd-local-space) * -2);
  }
}
